
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
}


.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; 
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
}


.card {
    position: relative;
    height: 100%; 
    flex: 1 1 calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.7;
    background-color: #fff;
    transition: transform 0.5s ease, opacity 0.5s ease; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card:hover {
    transform: scale(1.05);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease; 
}



.card:hover .more{
    display: block;
    transition: display 20s ease;
}



.info .name {
    width: 65%;
    height: 76px;
    gap: 0px;
    display: block;
    font-family: "DIN Condensed";
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    transition: display 20s ease;


}

.info .location {
    font-size: 16px; 
    font-family:'Poppins';
    font-size: 12px;
    font-weight: 400;
    display: block;
    line-height: 16.02px;
    text-align: left;
    transition: display 20s ease;
    
}
.info .more {
    display: none;
    transition: display 20s ease;
    color: skyblue;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.333% - 20px);
    }
    .info{
        display: none;
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
   
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 20px);
    }
}


@media (max-width: 320px) {
    .info {
        display: block; 
    }
}
